@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
  @{
    ViewData["Title"] = "Roles";
  }

<h1> Application Roles </h1>
  <p>
    <a asp-action="Create"> Create New Role</a>
  </p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(model=>model.First ().Id)</th>
        <th>@Html.DisplayNameFor(model=>model.First() .Name)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach(var item in Model)
      {
        <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
      </tr>
      }
    </tbody>
</table>
